<head>
	<title>Takvim.io</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/fullcalendar.min.css'  />
    <link rel='stylesheet' href='/fullcalendar.print.min.css' media='print' />
    <link rel='stylesheet' href='/style.css' />
	<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<script src='/lib/moment.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>		  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src='/fullcalendar.min.js'></script>
	

</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
					<ul class="navbar-nav mr-auto">
						
							
							<% if (user){ %>



								<li class="nav-item">
										<div class="dropdown">
												<a class="btn btn-block dropdown-toggle" style="cursor:pointer" type="button" id="dropdownForAppointment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="fas fa-calendar-alt"></span> Randevu İşlemleri
												</a>
												<div class="btn btn-info btn-block dropdown-menu" aria-labelledby="dropdownForAppointment">
														<a class="dropdown-item" href="/user">
															<span class="fas fa-child "></span> Başlangıç
														</a>
														<a class="dropdown-item" href="/user/calendar">
															<span class="fas fa-calendar-check"></span> Randevularım
														</a>
														<a class="dropdown-item" href="/user/take">
															<span class="fas fa-calendar-plus"></span> Randevu al
														</a>
														<a class="dropdown-item" href="/user/give">
															<span class="fas fa-bullhorn "></span> Randevu ver
														</a>
												</div>
											</div>
									

							
							<% }else { %>
								<li class="nav-item">
										<a class="nav-link" href="/ozellikler">Özellikler</a>
								</li>
							<% } %>



							</li>
					</ul>
			</div>
			<div class="mx-auto order-0">
					<a class="navbar-brand mx-auto" href="/">
							<b>Takvim.io</b>
					</a>
			</div>
			<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
					<ul class="navbar-nav mr-auto"  style="float: right;">
					<% if (user) {%>
							<li class="nav-item" >
									<div class="dropdown">
											<a class="btn btn-block dropdown-toggle" style="cursor:pointer;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<span class="fas fa-user-circle "></span> <b><%= user.username %>!</b>
											</a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<a class="dropdown-item" href="/profile">
													<span class="fas fa-user"></span> Profilim
												</a>
												<a class="dropdown-item" href="/logout">
													<span class="fas fa-sign-out-alt"></span> Çıkış yap
												</a>
											</div>
										</div>
							</li>
					<% } else {%>
							<li class="nav-item "  >
								<a class="nav-link" href="/login">Giriş Yap</a>
							</li>
						<% } %>
					</ul>
			</div>
		</div>
</nav>


