<!-- views/index.ejs -->
<!doctype html>
<html>
<% include ./header %>
<body  style="background:#95afc0">
    <div class="container">
        <div  style="padding:70px;border-radius:3px;margin-top:50px;color:#2f3640;">
            <h1 style="font-size:100px">
                Randevu<br>
                Planlama Asistanı
            </h1>
            <h3 style="background:#c23616;padding: 10px;color:#fff;border-radius:3px;">
                <span class="fa fa-american-sign-language-interpreting"></span> Çevrenizle etkileşime geçin, 
                <span class="fa fa-calendar-plus "></span> Randevular oluşturun, 
                <span class="fa fa-handshake "></span> Toplantılara katılın!
            </h3>
        </div>
    </div>
    
</body>
</html>