<!-- views/login.ejs -->
<!doctype html>
<html>
<% include ./header %> 
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fas fa-sign-in-alt "></span> Giriş</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Kullanıcı adı</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label>Beni Hatırla</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>

                <button type="submit" class="btn btn-success btn-lg btn-block">Giriş Yap</button>
            </form>

            <hr>

            <p>Hesabınız yok mu? <a href="/signup">Üye olun</a></p>
            <p>Yada <a href="/">anasayfaya</a> gidin.</p>
        </div>
    </div>
</body>
</html>
