<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script>
    var all_results;
    $(document).ready(function(){
        getDatasFromServer();
    })

    function getDatasFromServer(){
        $.ajax(
            {
                url:"/appointments/my/all/",
                success: function(result){
                    all_results = result
                    fillTable(all_results)
                    console.log(all_results)
                }
            }
        )
        
        function fillTable(results){
            //TODO: Abi buraya jquery ile tablo doldurma ozelligi yazilacak
            $(".item").remove()
            moment.locale('tr');
            for(var i=0;i<results.length;i++){
                if(moment(results[i].StartDateTime).isValid() && !moment().isAfter(moment(results[i].StartDateTime))){
                    $("#appointment_list").append(
                        '<tr class="item">'+"<td>"+results[i].AppointmentHeader+"</td>"+
                        "<td>"+results[i].username+"</td>"+
                        "<td>"+moment(results[i].StartDateTime).fromNow()+"</td>"+
                        "<td>"+results[i].Location+"</td>"+
                        '<td><button style="width:45%;margin-left:5%;" class="btn btn-info">Detay</button><button style="width:45%;margin-left:5%;" class="btn btn-danger";>İptal</button></td>'+
                        "</tr>"

                    )
                }
            }
        }
    }
</script>
<table id="my_appointments" class="table table-striped">
    <thead>
        <tr>
        <th><b>Randevu Başlığı</b></th>
        <th><b>İlgili Kişi</b></th>
        <th><b>Tarih</b></th>
        <th><b>Lokasyon</b></th>
        <th><b>İşlemler</b></th>
        </tr>
    </thead>
    <tbody id="appointment_list">
    </tbody>
</table>
<button class="btn btn-block btn-success" id="yenile" onclick="getDatasFromServer()">Yenile</button>
