
<table class="table table-striped">
    <thead>
        <tr>
        <th>Randevu Başlığı</th>
        <th>Durum</th>
        <th>İlgili Kişi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Lokasyon</th>
        <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>asdasdasd</td>
        <td>Alındı</td>
        <td>john@example.com</td>
        <td>Alındı</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
        <td>
            <button class="btn btn-info">Bilgi</button>
            <button class="btn btn-danger">İptal</button>
        </td>
        </tr>
        
    </tbody>
</table>
