<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script>
    var all_results;
    $(document).ready(function(){
        getDatasFromServer();
    })
    function deleteAppointment(AppointmentID){
            $('#exampleModalLong').modal('toggle');
            $('#kesinIptal').click(function(){
                    $.post('/appointments/cancel/'+AppointmentID,function(data){
                        alert("Silme İşlemi Başarılı");
                        $('#exampleModalLong').modal('hide');
                        getDatasFromServer();
                    })
                })
        }
    function getDatasFromServer(){
        $.ajax(
            {
                url:"/appointments/my/all/",
                success: function(result){
                    all_results = result
                    fillTable(all_results)
                    console.log(all_results)
                }
            }
        )

    }
    function fillTable(results){
            //TODO: Abi buraya jquery ile tablo doldurma ozelligi yazilacak
            $(".item").remove()
            moment.locale('tr');
            console.log(results)
            for(var i=0;i<results.length;i++){
                if(moment(results[i].StartDateTime).isValid() && !moment().isAfter(moment(results[i].StartDateTime))){
                    if(results[i].AppointmentStatus == 3){
                        $("#appointment_list").append(
                        '<tr class="item">'+"<td>"+results[i].AppointmentHeader+"</td>"+
                        "<td>"+results[i].username+"</td>"+
                        "<td>"+moment(results[i].StartDateTime).fromNow()+"</td>"+
                        "<td>"+results[i].Location+"</td>"+
                        '<td><a href="/user/appointments/detail/'+results[i].AppointmentID+'"style="width:45%;margin-left:5%;" class="btn btn-info">Detay</a>'+
                        '<div id="iptal" style="width:45%;margin-left:5%;cursor:not-allowed" class="btn btn-warning";>Randevu İptal Edilmiş</div></td>'+
                        "</tr>"

                    )
                    }else{
                        $("#appointment_list").append(
                        '<tr class="item">'+"<td>"+results[i].AppointmentHeader+"</td>"+
                        "<td>"+results[i].username+"</td>"+
                        "<td>"+moment(results[i].StartDateTime).fromNow()+"</td>"+
                        "<td>"+results[i].Location+"</td>"+
                        '<td><a href="/user/appointments/detail/'+results[i].AppointmentID+'"style="width:45%;margin-left:5%;" class="btn btn-info">Detay</a>'+
                        '<div id="iptal" style="width:45%;margin-left:5%;" onclick="deleteAppointment('+results[i].AppointmentID+')" class="btn btn-danger";>İptal</div></td>'+
                        "</tr>"
                    )
                    }
                }
            }
        }
</script>
<table id="my_appointments" class="table table-striped">
    <thead>
        <tr>
        <th><b>Randevu Başlığı</b></th>
        <th><b>İlgili Kişi</b></th>
        <th><b>Tarih</b></th>
        <th><b>Lokasyon</b></th>
        <th><b>İşlemler</b></th>
        </tr>
    </thead>
    <tbody id="appointment_list">
    </tbody>
</table>
<button class="btn btn-block btn-success" id="yenile" onclick="getDatasFromServer()">Yenile</button>
<div class="modal fade" id="exampleModalLong" style="padding-top:100px;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLongTitle">Randevu Iptali</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="well">
                    <h4>Randevuyu iptal etmek istiyor musunuz ?</h4>
                </div>            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger " data-dismiss="modal">İptal</button>
              <button id="kesinIptal" type="button" class="btn btn-success btn-block">Onayla</button>
            </div>
          </div>
        </div>
      </div>