<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <link href='/fullcalendar.min.css' rel='stylesheet' />
  <link href='/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <script src='/lib/moment.min.js'></script>
  <script src='/fullcalendar.min.js'></script>
  <script src='/locale-all.js'></script>  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/style.css' />
	<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  
  <script>
    
    $(document).ready(function() {
      var takvimObjesi =       {
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        locale:'TR',
        themeSystem:'bootstrap3',
        selectable:'true',
        dayClick:function(date){
          if(!moment().isAfter(moment(date))){
            $('#exampleModalLong').modal('toggle');
            give(date);
          }
        },
        defaultDate: moment(),
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [],
        eventColor: '#378006',
        eventTextColor: 'white'
      }
      $.ajax(
            {
                url:"/appointments/my/host/",
                success: function(result){
                    all_results = result
                }
            }
        ).done(function(){
          for(var i=0;i<all_results.length;i++){
             takvimObjesi.events.push({
              title: all_results[i].AppointmentHeader,
              start: moment(all_results[i].StartDateTime),
              end: moment(all_results[i].StartDateTime).add(all_results[i].Length,'m'),
              color: 'purple'
             })
            }
        })
        $.ajax(
            {
                url:"/appointments/my/guest/",
                success: function(result2){
                    all_results2 = result2
                }
            }
        ).done(function(){
          for(var i=0;i<all_results2.length;i++){
             takvimObjesi.events.push({
              title: all_results2[i].AppointmentHeader,
              start: moment(all_results2[i].StartDateTime),
              end: moment(all_results2[i].StartDateTime).add(all_results2[i].Length,'m'),
              color: 'red'
             })
            }
            console.log(all_results2)
            $('#calendar').fullCalendar(takvimObjesi);
        })

    });
    
  </script>
  <style>
    
    body {
      margin: 40px 10px;
      padding: 0;
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      font-size: 14px;
    }
    
    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
    
  </style>
</head>
<body>
  
  <div id='calendar'></div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" style="padding-top:100px;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Seçili Tarihe Randevu Aç</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">            
            <form>
              <div class="form-group">
                <label for="baslik">Randevu Başlığı:</label>
                <input type="text" class="form-control" id="baslik" placeholder="Proje Görüşmesi">
              </div>
              <div class="form-group">
                  <label for="start_time">Randevu Başlangıç Saati</label>
                  <input type="time" class="form-control" id="start_time" name="start_time">
              </div>
              <div class="form-group">
                <label for="sure">Randevu Süresi:</label>
                <input type="text" class="form-control" id="sure" placeholder="30">
              </div>
              <div class="form-group">
                <label for="lokasyon">Randevu Lokasyonu:</label>
                <input type="text" class="form-control" id="lokasyon" placeholder="DB-12 Amfisi YTÜ">
              </div>
              <div class="form-group">
                <label for="aciklama">Randevu Açıklaması:</label>
                <input type="text" class="form-control" id="aciklama" placeholder="Randevu hakkında açıklamanız">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger " data-dismiss="modal">İptal</button>
            <button id="giveAppointment" type="button" class="btn btn-success btn-block">Onayla</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function give(date){
        console.log(moment(date).format(''))

        document.getElementById("giveAppointment").onclick = function(){
          let appointment_header = $("#baslik").val()
          let length = $("#sure").val()
          let location = $("#lokasyon").val()
          let appointment_description = $("#aciklama").val()
          let start_date = moment(date).format('')
          let start_time = $("#start_time").val()
          let rec_pattern = "single"

          $.post("/appointments/new",{
            appointment_header: appointment_header,
            appointment_description: appointment_description,
            length: length,
            location: location,
            start_date: start_date,
            start_time: start_time,
            rec_pattern: rec_pattern
          }).done(function(data){
            $('#exampleModalLong').modal('hide');
          })
      }
    }
    </script>
</body>
</html>
