<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='fullcalendar.min.css' rel='stylesheet' />
	<link href='fullcalendar.print.min.css' rel='stylesheet' media='print' />
	<script src='lib/moment.min.js'></script>
	<script src='lib/jquery.min.js'></script>
	<script src='fullcalendar.min.js'></script>
	<script
	src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
   
  
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">
	<div class="page-header text-center">
		<h1>Takvim.io</h1>
				<!-- LOCAL INFORMATION

		<div align="center" class="col-sm-12">
			<a href="/my_calendar" class="btn btn-default">Takvimim</a>
			<a href="/my_calendar" class="btn btn-default">Randevularim</a>			
			<a href="/my_calendar" class="btn btn-default">Randevu al</a>
			<a href="/my_calendar" class="btn btn-default">Randevu ac</a>
			<a href="/my_calendar" class="btn btn-default">Mesajlarim</a>
			<a href="/logout" class="btn btn-default">Logout</a>
		</div>-->
	</div>
	<div class="container">
		<ul align="center" class="nav nav-pills">
		  <li class="active"><a data-toggle="pill" href="#home">Profilim</a></li>
		  <li><a data-toggle="pill" href="#calendar">Takvimim</a></li>
		  <li><a data-toggle="pill" href="#appointments">Randevularim</a></li>
		  <li><a data-toggle="pill" href="#take_appointment">Randevu Al</a></li>		  		  
		</ul>
		
		<div class="tab-content">
		  <div id="home" class="tab-pane fade in active">
			<% include my_profile%>
		</div>
		  <div id="calendar" class="tab-pane fade">
			<% include my_calendar%>
		  </div>
		  <div id="appointments" class="tab-pane fade">
			<% include my_appointments%>			
		  </div>
		  <div id="take_appointment" class="tab-pane fade">
			<% include take_appointment%>			
		  </div>
		</div>
	  </div>
</div>
</body>
</html>
