<!-- views/index.ejs -->
<!doctype html>
<html>
<% include ./header %>
<body >
    <div class="container">
        <h3><b>Randevu Ver</b></h3>
        <form action="/appointments/new" method="POST">
            <div class="row ">
                <div class="col-sm-2"></div>
                <div class="col-sm">     
                    <div class="form-group">
                        <label for="title">Randevu Başlığı</label>
                        <input type="text" class="form-control" id="title" name="appointment_header" placeholder="Örnek: 'Proje Görüşmeleri Öncelikli Randevu Aralığı'">
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="date_a">Randevu Başlangıç Tarihi</label>
                                <input type="date" class="form-control" id="title" name="start_date">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="start_time">Randevu Başlangıç Saati</label>
                                <input type="time" class="form-control" id="title" name="start_time">
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="recPattern">Tekrar Paleti:</label>
                        <select class="form-control" onchange="patternChange(this)" id="recPattern" name="rec_pattern">
                            <option value="single">Tek Sefer</option>
                            <option value="weekly">Haftalık</option>
                            <option value="monthly">Aylık</option>
                        </select>
                    </div>
                    <div class="form-group" id="tekrar-input" style="display:none">
                        <label>Tekrar Sayısı</label>
                        <input type="number" class="form-control"id="reccurrency" name="reccurrency" value="0" min="0" max="52"></input>
                        
                    </div>
                    <div class="form-group">
                        <label for="length">Randevu Uzunluğu:(Dakika)</label>
                        <input class="form-control" type="number" id="length" name="length" value="30" min="0" max="1440">
                    </input>
                </div>
                <div class="form-group">
                    <label for="location">Lokasyon</label>
                    <input class="form-control"  id="location"  name="location" placeholder="Örnek='DB-11 Salonu'"></input>
                </div>
                <div class="form-group">
                    <label for="desc">Randevu Açıklaması</label>
                    <textarea class="form-control"  id="desc" rows="4"  name="appointment_description" placeholder="Açıklamanızı buraya giriniz..."></textarea>
                </div>
                <input type="submit" class="btn btn-success btn-lg btn-block"></input>
            </div>
            <div class="col-sm-2"></div>
            
        </div>
        </form>
        <script>
            function patternChange(select){
                //alert(select.value);
                if(select.value == "single"){
                    // Haftalıksa
                    document.getElementById('tekrar-input').style.display = "none";
                }else if(select.value == "weekly" || select.value=="monthly"){
                    document.getElementById('tekrar-input').style.display = "block";
                }
            }
            
        </script>	
    </div>

    
</body>
</html>