<!-- views/index.ejs -->
<!doctype html>
<html>
<% include ./header %>
<body >
    <div class="container">
        <h3 class="alert alert-info"><%= user.username %> Takviminize Hoşgeldiniz!</h3>
        <% include my_calendar %>
    </div>

    
</body>
</html>