<!-- views/index.ejs -->
<!doctype html>
<html>
<% include ./header %>
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<body >
    <div class="container">
        
        <h3><b>Randevu Al</b></h3>
        
        <div>
            
                <div class="form-row align-items-center">
                  <div class="col-sm">
                    <label class="sr-only" for="inlineFormInputName">Kişi, Kurum ve Etiketlerde Arayın...</label>
                    <input type="text" class="form-control" id="SearchInput" placeholder="Kişi, Kurum ve Etiketlerde Arayın...">
                  </div>
                  
                  <div class="col-auto my-1">
                    <button onclick="search()" class="btn btn-primary"><span class="fas fa-search"></span> Ara</button>
                  </div>
                </div>
              
              
        </div>

        <!-- Bulunan sonuçlar -->
        
        
        <div id="error_msg"class="alert alert-warning" style="margin:15px 0;">Arama yapmak için kullanıcı adını giriniz.</div>
        
        <table id="tableContainer" class="table table-borderless">
            <thead>
              <tr> 
                <th scope="col"><span class="fas fa-address-book"></span> Kullanıcı Adı</th>
                <th scope="col"><span class="fas fa-tag"></span> Randevu Açıklaması</th>
                <th scope="col"><span class="fas fa-building"></span> Lokasyon</th>
                <th scope="col"><span class="fas fa-user"></span> Zaman</th>
                <th scope="col"><span class="fas fa-eye"></span> </th>
              </tr>
            </thead>
            <tbody id="tableContent">
              
            </tbody>
          </table>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" style="padding-top:100px;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Randevu Al</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Randevu veren kişinin takvimi bu modalda görüntülenir.
              
              <form>
                <div class="form-group">
                  <label for="aciklama">Randevu Hakkında Kısa Açıklama:</label>
                  <input type="text" class="form-control" id="aciklama" placeholder="Randevu hakkında açıklamanız">
                </div>
                <div class="form-group">
                  <div class="custom-file">
                      <input type="file" class=" form-control custom-file-input" id="inputGroupFile02">
                      <label class=" form-control custom-file-label" for="inputGroupFile02">Ek halinde dosya yükleyin</label>
                    </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary " data-dismiss="modal">İptal</button>
              <div id="takeAppointment" type="button" class="btn btn-primary btn-block">Onayla</div>
            </div>
          </div>
        </div>
      </div>



    <script>
      moment.locale('tr');
      // Başlangıçta gizle
      $('#tableContainer').hide();

        function search(){
            let searchQuery = $('#SearchInput').val();
            $.getJSON("/appointments/search/"+searchQuery,function(data){
              let msg ="";
              if(data.length >0 ){
                msg = "<b>\""+searchQuery +"\"</b> için bulunan sonuçlar:"
                $('#tableContainer').show()
              }
              else{
                msg = "Hiç bir sonuç bulunamadı. Farklı kelimelerle tekrar armayı deneyin!"
                $('#tableContainer').hide()
              }
              
              $('#error_msg').html(msg)
              $('#error_msg').show();
              updateTable(data);

            })
        }

        function updateTable(data){
          
          let tableContents ="";
          data.forEach(element => {
            if(moment(element.StartDateTime).isValid() && !moment().isAfter(moment(element.StartDateTime))){
              tableContents += 
              "<tr ><td>" + element.username +"</td>"
              +"<td>" + element.AppointmentHeader +"</td>"
              +"<td>" + element.Location +"</td>"
              +"<td>" + moment(element.StartDateTime).format("lll") +"</td>";
              if(element.AppointmentStatus == "1"){
                tableContents+='<td><button class="btn btn-success btn-block" onclick="take('+element.AppointmentID +')"><span class="fas fa-arrow-circle-right "></span> Al</button></td>'   
                +" </tr>";
              }else{
                tableContents+='<td><button class="btn btn-danger btn-block" >Dolu</button></td>'   
                +" </tr>"; 
              }

            }
          });

           $('#tableContent').html(tableContents);
        }
        
        function take(appID){
            $('#exampleModalLong').modal('toggle');
            
            document.getElementById('takeAppointment').onclick = function(){
              let desc = $('#aciklama').val();
              console.log("Yolla",desc)
              $.post( '/appointments/take', { AppointmentID : appID })
              .done(function( data ) {
                if(data.code == "200"){
                  $('#exampleModalLong').modal('hide');
                }else if(data.code == "201"){
                  alert("Bu randevu alınamıyor. Lütfen farklı bir randevuyu deneyin!");
                }
              });
            }

        }

    </script>
</body>
</html>