<!-- views/index.ejs -->
<!doctype html>
<html>
<% include ./header %>
<body >
    <div class="container">
        <h3 class="alert alert-info">Randevu al</h3>
        <% include take_appointment%>
    </div>

    
</body>
</html>